body {
	background-color: #333333;
	color: #B5B5B5;
	font-family: monospace;
}

a {
	color: inherit;
	text-decoration: underline;
	cursor: pointer
}

div {
	margin: 2%;
}

div#log {
	background-color: #474747;
}

div#dungeon {
	float: left;
	white-space:nowrap;
}

div#status {
}

span.mostrecentlog {
	color: white;
	font-weight: bold;
}

span.player {
	color: white;
	font-weight: bold;
}

span.seeker {
	color: white;
	font-weight: bold;
}

span.stairsup {
	color: white;
	font-weight: bold;
}

span.unit {
	color: white;
	font-weight: bold;
}

span#playerdeath {
	color: darkred;
	font-weight: bold;
}
