html {
	background-color: #0998DE;
	color: #BBBBDD;
	font-family: Consolas, monospace;
	font-size: small;
}

a {
	color: inherit;
	text-decoration: underline;
	cursor: pointer
}

#log {
	background-color: #0579B1;
	margin-bottom: 10px;
}

#dungeon {
	background-color: #0579B1;
	float: left;
	white-space:nowrap;
	margin-right: 10px;
}

#info {
	float: left;
	width: 30%;
	background-color: #0579B1;
	padding-left: 10px;
	padding-right: 10px;
}

#status {
	background-color: #0579B1;
	margin-bottom: 10px;
}

span.mostrecentlog {
	color: white;
	font-weight: bold;
}

.player {
	color: white;
	font-weight: bold;
}

span.seeker {
	color: white;
	font-weight: bold;
}

span.stairsup {
	color: white;
	font-weight: bold;
}

span.unit {
	color: white;
	font-weight: bold;
}

span#playerdeath {
	color: #FC4D65;
	font-weight: bold;
}
